[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "goric"]
	path = goric
	url = https://github.com/daniel-gerhard/goric
[submodule "mcprofile"]
	path = mcprofile
	url = https://github.com/daniel-gerhard/mcprofile
